AWS_ENVIRONMENT=development
AWS_PROFILE=default
AWS_ROLE_ARN=arn:aws:iam::123456789012:role/RoleName
AWS_REGION=us-east-1
AWS_FUNCTION_NAME=mov_to_mp4
AWS_HANDLER=dist/index.handler
AWS_MEMORY_SIZE=256
AWS_TIMEOUT=10
AWS_DESCRIPTION=Convert .mov objects in S3 to .mp4
AWS_RUNTIME=nodejs6.10
CONFIG_FILE=deploy.env
EXCLUDE_GLOBS="src test context.json event.json .babelrc .eslintrc.js .gitignore README.md *.sample"
PACKAGE_DIRECTORY=build
